body{
    background-color: rgba(137, 43, 226, 0.671);
    padding: 0px 300px;
}

/* img{
    width: 150px;
} */
.card{
    height: 440px;
}
input {
    margin: 10px 0px;
}
#root{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px 0px;
    min-height: 550px;
}
.img{
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

}
ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
li{
    background-color: black;
    color: white;
    padding: 15px;
    cursor: pointer;
    
}
.list-group-item{
    width: 1000px;
    display: flex;
    justify-content: space-around;
    /* text-align: center; */
}
span{
  
    display: block;
    width: 300px;
}
.eliminar{
    padding: 2px;
    background-color: red;
    color: white;
}
#formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   background-color: rgba(73, 42, 165, 0.551);
}
.salida, .destino{
    display: flex;
    
}
h4{
    width: 150px;
    color: white;
}
header{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
h2{
    background:linear-gradient(rgba(238, 130, 238, 0.488),rgba(0, 0, 255, 0.435));
    width: 50%;
    color: white;
}
#btn{
    background-color: blueviolet;
    color: aliceblue;
    border: 1px solid white;
    border-radius: 5px 0px;
    padding: 5px;
}
#btn:hover{
    background-color: rgba(137, 43, 226, 0.355);
    color: aliceblue;
    border: 1px solid black;
    border-radius: 5px 0px;
    padding: 5px;
    box-shadow: 5px 5px 8px black;
}
th, td{
    width: 150px;
    text-align: center;
    border-top:1px solid black;
}
@media (max-width:821px) {
    body{
        padding: 20px;
    }
}

@media (max-width:420px) {
    body{
        background-color: blue;
        padding: 10px;
    }
}
.cerrado{
    background-color: rgba(2, 219, 2, 0.58);
}
.abierta{
    background-color: red;
    color: white;
}