/* Variables */
:root{
    --bg:linear-gradient(rgba(0, 0, 255, 0.7), transparent,violet);
    --dflex:flex;
    --center:center;
    --bet:space-between;
    --brd:2px solid white;

}
body{
    margin: 0px;
    padding: 0px 30px;
    background: var(--bg);
    min-height: 100vh;
}
header{
    background-image: url(../img/banner.png);
    height: 254px;
    background-size:cover ;
    background-repeat: no-repeat;
    position: sticky;
    top: 0px;
    /* background-position: 50px 80px; */
}
main{
    /* display: flex; */
    width: 100%;
    
}
section{
    display:var(--dflex);
    justify-content: space-between;
    flex-wrap: wrap;
}
article{
    background: var(--bg);
    width: 30%;
    height: 150px;
    border-top: var(--brd);
    margin: 5px;
    display:var(--dflex);
    justify-content: var(--center);
    align-items: var(--center);
    color: white;
    /* animation-duration: 5s;
    animation-name: sliderin;*/
} 
@media  (max-width:1024px) {
    body{
        background-color: red;
    }
    article{
        width: 45%;
    }
}
@media  (max-width:420px) {
    body{
        background-color: black;
    }
    article{
        width: 100%;
    }
    
}
/* creando una animación */
p{

   /* animation: changecolor 15s; 
   animation-delay: 2s;
   animation-iteration-count: infinite;
   animation-play-state: running; */
}
@keyframes changecolor {
    10%{
        background-color: red;
        rotate: 0deg;
    }
    25%{
        background-color: blue;
        rotate: 90deg;
    }
    75%{
        background-color: yellow;
        rotate: 180deg;
    }
    100%{
        background-color: red;
        rotate: 360deg;
    }
}
@keyframes sliderin {
    from{
        margin-left: 100%;
        width: 300%;
    }
    to{
        margin-left: 0%;
        width: 30%;
    }
}
  
