/* selector de etiqueta */
/* selector{propiedad:valor} */
body{
    background-color: rgb(110, 51, 9);
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    background-color: black;
    color:white;
    text-align: center;
    border-bottom:2px solid yellow;
    width: 75%;

   
}
header{
    background-image: url(../img/fondo.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
}
ul{
    list-style-type: none;
}
img{
    width: 400px;
    height: 400px;
  
}
/* selector id */
#img{
    border-radius: 0px 20px 10px 5px;
}
#img2{
    opacity: 0.7;
}
article{
    width: 45%;
    float: left;
    margin: 20px;
}
p{
    text-align: justify;
   
}


