#uno{
    height: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-direction: row-reverse;
}
#menu{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
#menu li{
    background-color: blueviolet;
    padding: 12px;
    border-radius: 0px 15px 15px 0px;
    
}
#menu li:hover{
    border-radius: 15px 0px 15px 0px;
    box-shadow: 5px 5px 8px gainsboro;
}
#menu li a{
    text-decoration: none;
    color: white;
}
#img4{
    order: 1;
    align-self: start;
}
#img3{
    order:2;
    align-self: end;
}
#img1{
    order: 3;
    align-self: center;
}
#img2{
    order: 4;
    padding-top: 50px;
}
