/* selector:seudoclase{ propiedad:valor} */

/* no han sido visitado el link */
a:link{
    background-color: yellow;
    color: black;
} 
/* después de visitar el link */
a:visited{
    background-color: red;
    color: white;
}
a:hover{
    background-color: black;
    color: white;
}
a:active{
    color: black;
    background-color: pink;
}
h1{
    background-color: blueviolet;
    color: white;
    width: 50%;
    height: 70px;
    margin: 10px 5px 0px 20px;
    padding: 14px 18px;
    border-bottom :2px solid black;

}
/* selector de etiqueta */
article{
    min-height: 500px;
    background-color: black;
    color: white;
}
/* selector de id */
#atributos{
    background-color: blueviolet;

}
#lista{
    list-style-type: none;
    padding: 20px;
}
#lista li{
    background-color: black;
    color: white;
    padding: 10px 20px;
    width: 15%;
    border-bottom: 5px dotted yellow;
   
}
/* pseudoelemento */
#lista li::first-letter{
    background-color: blue;
    padding: 5px;
    font-size: xx-large;
}

/* selector de clases */
.menu{

}
p{
    background-color: aqua;
    color: black;
    padding: 50px;
}
/* pseudoelemento */
p::first-line{
    background-color: blue;
    padding: 16px;
}
p::after{
    position: absolute;
    top:50px;
    left:80px;
    background-color: yellow;
    width: 250px;
    height: 80px;
    content: "Hola a todos";

}
p::before{
    position: absolute;
    top:250px;
    left:80px;
    background-color: blue;
    width: 100vw;
    height: 100vh;
    content: "Soy el antes";
    display: none;
}
/* selector de clase */
.divs{
    background-color: rgb(30, 255, 0);
}
#uno{
    background-color: red;
}
#dos{
    background-color: black;
}
#tres{
    background-color: blue;
}
.divClass{
    margin: 1%;
    width: 30%;
    height: 120px;
    float: left;
}







